.hero {
  height: 50rem;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero .container {
  height: 100%;
}
.hero-content {
  font-size: 2rem;
  height: 100%;
  color: $white;
  position: relative;
  z-index: 1;
  @include flex();
  @include align-center();
  @include justify-center();
}