$white: #ffffff;
$light-grey: #e8e8e8;

@import "flex";
@import "header";
@import "hero";
@import "section";
@import "navigation";
@import "footer";

html, body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  font-size: 10px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}