/*
 * Default breakpoints
 */
/*
  * Base flex classes and mixins
  */
.flex {
  display: flex; }

.container {
  box-sizing: border-box;
  padding: 0.0rem 1.0rem;
  margin: 0 auto;
  max-width: 1180px; }

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0.0rem -1.0rem; }

/*
  * Extra small screen classes and mixins
  */
.horizontal,
.horizontal-xs {
  flex-direction: row; }

.horizontal-wrap,
.horizontal-wrap-xs {
  flex-flow: row wrap; }

.vertical,
.vertical-xs {
  flex-direction: column; }

.vertical-wrap,
.vertical-wrap-xs {
  flex-flow: column wrap; }

.center,
.center-xs {
  justify-content: center;
  align-items: center; }

.justify-center,
.justify-center-xs {
  justify-content: center; }

.justify-start,
.justify-start-xs {
  justify-content: flex-start; }

.justify-end,
.justify-end-xs {
  justify-content: flex-end; }

.justify-between,
.justify-between-xs {
  justify-content: space-between; }

.justify-around,
.justify-around-xs {
  justify-content: space-around; }

.align-center,
.align-center-xs {
  align-items: center; }

.align-start,
.align-start-xs {
  align-items: flex-start; }

.align-end,
.align-end-xs {
  align-items: flex-end; }

.grow-disabled,
.grow-disabled-xs {
  flex-grow: 0; }

.grow-xs-1 {
  flex-grow: 1; }

.grow-xs-2 {
  flex-grow: 2; }

.grow-xs-3 {
  flex-grow: 3; }

.grow-xs-4 {
  flex-grow: 4; }

.grow-xs-5 {
  flex-grow: 5; }

.grow-xs-6 {
  flex-grow: 6; }

.grow-xs-7 {
  flex-grow: 7; }

.grow-xs-8 {
  flex-grow: 8; }

.grow-xs-9 {
  flex-grow: 9; }

.grow-xs-10 {
  flex-grow: 10; }

.grow-xs-11 {
  flex-grow: 11; }

.grow-xs-12 {
  flex-grow: 12; }

.shrink-disabled,
.shrink-disabled-xs {
  flex-shrink: 0; }

.shrink-xs-1 {
  flex-shrink: 1; }

.shrink-xs-2 {
  flex-shrink: 2; }

.shrink-xs-3 {
  flex-shrink: 3; }

.shrink-xs-4 {
  flex-shrink: 4; }

.shrink-xs-5 {
  flex-shrink: 5; }

.shrink-xs-6 {
  flex-shrink: 6; }

.shrink-xs-7 {
  flex-shrink: 7; }

.shrink-xs-8 {
  flex-shrink: 8; }

.shrink-xs-9 {
  flex-shrink: 9; }

.shrink-xs-10 {
  flex-shrink: 10; }

.shrink-xs-11 {
  flex-shrink: 11; }

.shrink-xs-12 {
  flex-shrink: 12; }

.col-xs-1 {
  padding: 0 1rem;
  flex-basis: 8.333333333%;
  max-width: 8.333333333%;
  box-sizing: border-box; }

.col-xs-2 {
  padding: 0 1rem;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
  box-sizing: border-box; }

.col-xs-3 {
  padding: 0 1rem;
  flex-basis: 25%;
  max-width: 25%;
  box-sizing: border-box; }

.col-xs-4 {
  padding: 0 1rem;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
  box-sizing: border-box; }

.col-xs-5 {
  padding: 0 1rem;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
  box-sizing: border-box; }

.col-xs-6 {
  padding: 0 1rem;
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box; }

.col-xs-7 {
  padding: 0 1rem;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
  box-sizing: border-box; }

.col-xs-8 {
  padding: 0 1rem;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
  box-sizing: border-box; }

.col-xs-9 {
  padding: 0 1rem;
  flex-basis: 75%;
  max-width: 75%;
  box-sizing: border-box; }

.col-xs-10 {
  padding: 0 1rem;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
  box-sizing: border-box; }

.col-xs-11 {
  padding: 0 1rem;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
  box-sizing: border-box; }

.col-xs-12 {
  padding: 0 1rem;
  flex-basis: 100%;
  max-width: 100%;
  box-sizing: border-box; }

.offset-xs-1 {
  margin-left: 8.333333333%; }

.offset-xs-2 {
  margin-left: 16.66666667%; }

.offset-xs-3 {
  margin-left: 25%; }

.offset-xs-4 {
  margin-left: 33.33333333%; }

.offset-xs-5 {
  margin-left: 41.66666667%; }

.offset-xs-6 {
  margin-left: 50%; }

.offset-xs-7 {
  margin-left: 58.33333333%; }

.offset-xs-8 {
  margin-left: 66.66666667%; }

.offset-xs-9 {
  margin-left: 75%; }

.offset-xs-10 {
  margin-left: 83.33333333%; }

.offset-xs-11 {
  margin-left: 91.66666667%; }

/*
  * Small screen classes and mixins
  */
@media screen and (min-width: 544px) {
  .horizontal-sm {
    flex-direction: row; }
  .horizontal-wrap-sm {
    flex-flow: row wrap; }
  .vertical-sm {
    flex-direction: column; }
  .vertical-wrap-sm {
    flex-flow: column wrap; }
  .justify-center-sm {
    justify-content: center; }
  .justify-start-sm {
    justify-content: flex-start; }
  .justify-end-sm {
    justify-content: flex-end; }
  .justify-between-sm {
    justify-content: space-between; }
  .justify-around-sm {
    justify-content: space-around; }
  .align-center-sm {
    align-items: center; }
  .align-start-sm {
    align-items: flex-start; }
  .align-end-sm {
    align-items: flex-end; }
  .grow-disabled-sm {
    flex-grow: 0; }
  .grow-sm-1 {
    flex-grow: 1; }
  .grow-sm-2 {
    flex-grow: 2; }
  .grow-sm-3 {
    flex-grow: 3; }
  .grow-sm-4 {
    flex-grow: 4; }
  .grow-sm-5 {
    flex-grow: 5; }
  .grow-sm-6 {
    flex-grow: 6; }
  .grow-sm-7 {
    flex-grow: 7; }
  .grow-sm-8 {
    flex-grow: 8; }
  .grow-sm-9 {
    flex-grow: 9; }
  .grow-sm-10 {
    flex-grow: 10; }
  .grow-sm-11 {
    flex-grow: 11; }
  .grow-sm-12 {
    flex-grow: 12; }
  .shrink-disabled-sm {
    flex-grow: 0; }
  .shrink-sm-1 {
    flex-shrink: 1; }
  .shrink-sm-2 {
    flex-shrink: 2; }
  .shrink-sm-3 {
    flex-shrink: 3; }
  .shrink-sm-4 {
    flex-shrink: 4; }
  .shrink-sm-5 {
    flex-shrink: 5; }
  .shrink-sm-6 {
    flex-shrink: 6; }
  .shrink-sm-7 {
    flex-shrink: 7; }
  .shrink-sm-8 {
    flex-shrink: 8; }
  .shrink-sm-9 {
    flex-shrink: 9; }
  .shrink-sm-10 {
    flex-shrink: 10; }
  .shrink-sm-11 {
    flex-shrink: 11; }
  .shrink-sm-12 {
    flex-shrink: 12; }
  .col-sm-1 {
    padding: 0 1rem;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
    box-sizing: border-box; }
  .col-sm-2 {
    padding: 0 1rem;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
    box-sizing: border-box; }
  .col-sm-3 {
    padding: 0 1rem;
    flex-basis: 25%;
    max-width: 25%;
    box-sizing: border-box; }
  .col-sm-4 {
    padding: 0 1rem;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    box-sizing: border-box; }
  .col-sm-5 {
    padding: 0 1rem;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
    box-sizing: border-box; }
  .col-sm-6 {
    padding: 0 1rem;
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box; }
  .col-sm-7 {
    padding: 0 1rem;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
    box-sizing: border-box; }
  .col-sm-8 {
    padding: 0 1rem;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    box-sizing: border-box; }
  .col-sm-9 {
    padding: 0 1rem;
    flex-basis: 75%;
    max-width: 75%;
    box-sizing: border-box; }
  .col-sm-10 {
    padding: 0 1rem;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    box-sizing: border-box; }
  .col-sm-11 {
    padding: 0 1rem;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
    box-sizing: border-box; }
  .col-sm-12 {
    padding: 0 1rem;
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box; }
  .offset-sm-1 {
    margin-left: 8.333333333%; }
  .offset-sm-2 {
    margin-left: 16.66666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333333%; }
  .offset-sm-5 {
    margin-left: 41.66666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333333%; }
  .offset-sm-8 {
    margin-left: 66.66666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333333%; }
  .offset-sm-11 {
    margin-left: 91.66666667%; } }

/*
  * Medium screen classes and mixins
  */
@media screen and (min-width: 768px) {
  .horizontal-md {
    flex-direction: row; }
  .horizontal-wrap-md {
    flex-flow: row wrap; }
  .vertical-md {
    flex-direction: column; }
  .vertical-wrap-md {
    flex-flow: column wrap; }
  .justify-center-md {
    justify-content: center; }
  .justify-start-md {
    justify-content: flex-start; }
  .justify-end-md {
    justify-content: flex-end; }
  .justify-between-md {
    justify-content: space-between; }
  .justify-around-md {
    justify-content: space-around; }
  .align-center-md {
    align-items: center; }
  .align-start-md {
    align-items: flex-start; }
  .align-end-md {
    align-items: flex-end; }
  .grow-disabled-md {
    flex-grow: 0; }
  .grow-md-1 {
    flex-grow: 1; }
  .grow-md-2 {
    flex-grow: 2; }
  .grow-md-3 {
    flex-grow: 3; }
  .grow-md-4 {
    flex-grow: 4; }
  .grow-md-5 {
    flex-grow: 5; }
  .grow-md-6 {
    flex-grow: 6; }
  .grow-md-7 {
    flex-grow: 7; }
  .grow-md-8 {
    flex-grow: 8; }
  .grow-md-9 {
    flex-grow: 9; }
  .grow-md-10 {
    flex-grow: 10; }
  .grow-md-11 {
    flex-grow: 11; }
  .grow-md-12 {
    flex-grow: 12; }
  .shrink-disabled-md {
    flex-shrink: 0; }
  .shrink-md-1 {
    flex-shrink: 1; }
  .shrink-md-2 {
    flex-shrink: 2; }
  .shrink-md-3 {
    flex-shrink: 3; }
  .shrink-md-4 {
    flex-shrink: 4; }
  .shrink-md-5 {
    flex-shrink: 5; }
  .shrink-md-6 {
    flex-shrink: 6; }
  .shrink-md-7 {
    flex-shrink: 7; }
  .shrink-md-8 {
    flex-shrink: 8; }
  .shrink-md-9 {
    flex-shrink: 9; }
  .shrink-md-10 {
    flex-shrink: 10; }
  .shrink-md-11 {
    flex-shrink: 11; }
  .shrink-md-12 {
    flex-shrink: 12; }
  .col-md-1 {
    padding: 0 1rem;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
    box-sizing: border-box; }
  .col-md-2 {
    padding: 0 1rem;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
    box-sizing: border-box; }
  .col-md-3 {
    padding: 0 1rem;
    flex-basis: 25%;
    max-width: 25%;
    box-sizing: border-box; }
  .col-md-4 {
    padding: 0 1rem;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    box-sizing: border-box; }
  .col-md-5 {
    padding: 0 1rem;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
    box-sizing: border-box; }
  .col-md-6 {
    padding: 0 1rem;
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box; }
  .col-md-7 {
    padding: 0 1rem;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
    box-sizing: border-box; }
  .col-md-8 {
    padding: 0 1rem;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    box-sizing: border-box; }
  .col-md-9 {
    padding: 0 1rem;
    flex-basis: 75%;
    max-width: 75%;
    box-sizing: border-box; }
  .col-md-10 {
    padding: 0 1rem;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    box-sizing: border-box; }
  .col-md-11 {
    padding: 0 1rem;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
    box-sizing: border-box; }
  .col-md-12 {
    padding: 0 1rem;
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box; }
  .offset-md-1 {
    margin-left: 8.333333333%; }
  .offset-md-2 {
    margin-left: 16.66666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333333%; }
  .offset-md-5 {
    margin-left: 41.66666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333333%; }
  .offset-md-8 {
    margin-left: 66.66666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333333%; }
  .offset-md-11 {
    margin-left: 91.66666667%; } }

/*
  * Large screen classes and mixins
  */
@media screen and (min-width: 992px) {
  .horizontal-lg {
    flex-direction: row; }
  .horizontal-wrap-lg {
    flex-flow: row wrap; }
  .vertical-lg {
    flex-direction: column; }
  .vertical-wrap-lg {
    flex-flow: column wrap; }
  .justify-center-lg {
    justify-content: center; }
  .justify-start-lg {
    justify-content: flex-start; }
  .justify-end-lg {
    justify-content: flex-end; }
  .justify-between-lg {
    justify-content: space-between; }
  .justify-around-lg {
    justify-content: space-around; }
  .align-center-lg {
    align-items: center; }
  .align-start-lg {
    align-items: flex-start; }
  .align-end-lg {
    align-items: flex-end; }
  .grow-disabled-lg {
    flex-grow: 0; }
  .grow-lg-1 {
    flex-grow: 1; }
  .grow-lg-2 {
    flex-grow: 2; }
  .grow-lg-3 {
    flex-grow: 3; }
  .grow-lg-4 {
    flex-grow: 4; }
  .grow-lg-5 {
    flex-grow: 5; }
  .grow-lg-6 {
    flex-grow: 6; }
  .grow-lg-7 {
    flex-grow: 7; }
  .grow-lg-8 {
    flex-grow: 8; }
  .grow-lg-9 {
    flex-grow: 9; }
  .grow-lg-10 {
    flex-grow: 10; }
  .grow-lg-11 {
    flex-grow: 11; }
  .grow-lg-12 {
    flex-grow: 12; }
  .shrink-disabled-lg {
    flex-shrink: 0; }
  .shrink-lg-1 {
    flex-shrink: 1; }
  .shrink-lg-2 {
    flex-shrink: 2; }
  .shrink-lg-3 {
    flex-shrink: 3; }
  .shrink-lg-4 {
    flex-shrink: 4; }
  .shrink-lg-5 {
    flex-shrink: 5; }
  .shrink-lg-6 {
    flex-shrink: 6; }
  .shrink-lg-7 {
    flex-shrink: 7; }
  .shrink-lg-8 {
    flex-shrink: 8; }
  .shrink-lg-9 {
    flex-shrink: 9; }
  .shrink-lg-10 {
    flex-shrink: 10; }
  .shrink-lg-11 {
    flex-shrink: 11; }
  .shrink-lg-12 {
    flex-shrink: 12; }
  .col-lg-1 {
    padding: 0 1rem;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
    box-sizing: border-box; }
  .col-lg-2 {
    padding: 0 1rem;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
    box-sizing: border-box; }
  .col-lg-3 {
    padding: 0 1rem;
    flex-basis: 25%;
    max-width: 25%;
    box-sizing: border-box; }
  .col-lg-4 {
    padding: 0 1rem;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    box-sizing: border-box; }
  .col-lg-5 {
    padding: 0 1rem;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
    box-sizing: border-box; }
  .col-lg-6 {
    padding: 0 1rem;
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box; }
  .col-lg-7 {
    padding: 0 1rem;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
    box-sizing: border-box; }
  .col-lg-8 {
    padding: 0 1rem;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    box-sizing: border-box; }
  .col-lg-9 {
    padding: 0 1rem;
    flex-basis: 75%;
    max-width: 75%;
    box-sizing: border-box; }
  .col-lg-10 {
    padding: 0 1rem;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    box-sizing: border-box; }
  .col-lg-11 {
    padding: 0 1rem;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
    box-sizing: border-box; }
  .col-lg-12 {
    padding: 0 1rem;
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box; }
  .offset-lg-1 {
    margin-left: 8.333333333%; }
  .offset-lg-2 {
    margin-left: 16.66666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333333%; }
  .offset-lg-5 {
    margin-left: 41.66666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333333%; }
  .offset-lg-8 {
    margin-left: 66.66666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333333%; }
  .offset-lg-11 {
    margin-left: 91.66666667%; } }

/*
  * Extra large screen classes and mixins
  */
@media screen and (min-width: 1200px) {
  .horizontal-xl {
    flex-direction: row; }
  .horizontal-wrap-xl {
    flex-flow: row wrap; }
  .vertical-xl {
    flex-direction: column; }
  .vertical-wrap-xl {
    flex-flow: column wrap; }
  .justify-center-xl {
    justify-content: center; }
  .justify-start-xl {
    justify-content: flex-start; }
  .justify-end-xl {
    justify-content: flex-end; }
  .justify-between-xl {
    justify-content: space-between; }
  .justify-around-xl {
    justify-content: space-around; }
  .align-center-xl {
    align-items: center; }
  .align-start-xl {
    align-items: flex-start; }
  .align-end-xl {
    align-items: flex-end; }
  .grow-disabled-xl {
    flex-grow: 0; }
  .grow-xl-1 {
    flex-grow: 1; }
  .grow-xl-2 {
    flex-grow: 2; }
  .grow-xl-3 {
    flex-grow: 3; }
  .grow-xl-4 {
    flex-grow: 4; }
  .grow-xl-5 {
    flex-grow: 5; }
  .grow-xl-6 {
    flex-grow: 6; }
  .grow-xl-7 {
    flex-grow: 7; }
  .grow-xl-8 {
    flex-grow: 8; }
  .grow-xl-9 {
    flex-grow: 9; }
  .grow-xl-10 {
    flex-grow: 10; }
  .grow-xl-11 {
    flex-grow: 11; }
  .grow-xl-12 {
    flex-grow: 12; }
  .shrink-disabled-xl {
    flex-shrink: 0; }
  .shrink-xl-1 {
    flex-shrink: 1; }
  .shrink-xl-2 {
    flex-shrink: 2; }
  .shrink-xl-3 {
    flex-shrink: 3; }
  .shrink-xl-4 {
    flex-shrink: 4; }
  .shrink-xl-5 {
    flex-shrink: 5; }
  .shrink-xl-6 {
    flex-shrink: 6; }
  .shrink-xl-7 {
    flex-shrink: 7; }
  .shrink-xl-8 {
    flex-shrink: 8; }
  .shrink-xl-9 {
    flex-shrink: 9; }
  .shrink-xl-10 {
    flex-shrink: 10; }
  .shrink-xl-11 {
    flex-shrink: 11; }
  .shrink-xl-12 {
    flex-shrink: 12; }
  .col-xl-1 {
    padding: 0 1rem;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
    box-sizing: border-box; }
  .col-xl-2 {
    padding: 0 1rem;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
    box-sizing: border-box; }
  .col-xl-3 {
    padding: 0 1rem;
    flex-basis: 25%;
    max-width: 25%;
    box-sizing: border-box; }
  .col-xl-4 {
    padding: 0 1rem;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    box-sizing: border-box; }
  .col-xl-5 {
    padding: 0 1rem;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
    box-sizing: border-box; }
  .col-xl-6 {
    padding: 0 1rem;
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box; }
  .col-xl-7 {
    padding: 0 1rem;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
    box-sizing: border-box; }
  .col-xl-8 {
    padding: 0 1rem;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    box-sizing: border-box; }
  .col-xl-9 {
    padding: 0 1rem;
    flex-basis: 75%;
    max-width: 75%;
    box-sizing: border-box; }
  .col-xl-10 {
    padding: 0 1rem;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    box-sizing: border-box; }
  .col-xl-11 {
    padding: 0 1rem;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
    box-sizing: border-box; }
  .col-xl-12 {
    padding: 0 1rem;
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box; }
  .offset-xl-1 {
    margin-left: 8.333333333%; }
  .offset-xl-2 {
    margin-left: 16.66666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333333%; }
  .offset-xl-5 {
    margin-left: 41.66666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333333%; }
  .offset-xl-8 {
    margin-left: 66.66666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333333%; }
  .offset-xl-11 {
    margin-left: 91.66666667%; } }

/* 
  * Visibility classes and mixins
  */
@media screen and (max-width: 543px) {
  .hidden-xs {
    display: none !important; }
  .visible-sm, .visible-md, .visible-lg, .visible-xl {
    display: none !important; } }

@media screen and (min-width: 544px) and (max-width: 767px) {
  .hidden-xs, .hidden-sm {
    display: none !important; }
  .visible-md, .visible-lg, .visible-xl {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-xs, .hidden-sm, .hidden-md {
    display: none !important; }
  .visible-lg, .visible-xl {
    display: none !important; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-xs, .hidden-sm, .hidden-md, .hidden-lg {
    display: none !important; }
  .visible-xl {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .hidden-xs, .hidden-sm, .hidden-md, .hidden-lg, .hidden-xl {
    display: none !important; } }

.header {
  height: 8rem; }

.header .container {
  height: 100%; }

.header-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  font-weight: bold;
  font-size: 2rem; }

.hero {
  height: 50rem;
  background-image: url("https://static1.squarespace.com/static/59a0217bd482e9fbddf879fd/t/59c3ccc2e5dd5b1f8f6e9513/1504003881318/shutterstock_441506311-1.jpg?format=2500w");
  background-size: cover;
  position: relative; }

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.hero .container {
  height: 100%; }

.hero-content {
  font-size: 2rem;
  height: 100%;
  color: #ffffff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.hero-content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0; }

.section {
  padding: 20px 0; }

.section-heading {
  color: #c0c0c0;
  text-align: center; }

.navigation {
  display: flex;
  list-style-type: none;
  font-size: 1.6rem; }

.navigation li + li {
  margin-left: 2rem; }

.footer {
  height: 8rem;
  border-top: 2px solid #e8e8e8; }

.footer .container {
  height: 100%; }

.footer-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-icon {
  height: 3rem; }

html, body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue";
  font-size: 10px;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }
